{{ define "partials/main/whr.html" }}
<!--围度信息-->
<div class="h-full">
  <div id="whrChart1" class="w-full h-1/2"></div>
  <div id="whrChart2" class="w-full h-1/2"></div>
</div>
<script>
  var mixinWhr = {
    data: function () {
      return {
        whrChartList: {
          bust: [],
          waist: [],
          lupperarm: [],
          rupperarm: [],
          hipline: [],
          lthigh: [],
          rthigh: [],
          lcalf: [],
          rcalf: [],
          torso: [],
          lue: [],
				  rue: [],
				  lle: [],
				  rle: []
        },
        whrChart1: null,
        whrChart2: null,
      }
    },
    methods: {
      whrCharts: function (month, listDatas) {
        let startMonth = moment(month)
        let mDays = moment(month).endOf("month").format("DD")
        //console.log(mDays)
        var days = []
        for (i = 0; i < mDays; i++) {
          days.push(startMonth.format("MM-DD"))
          startMonth.add(1, "days")
        }
        //console.log(listDatas)
        //console.log(days)
        this.computWhrChartData(listDatas, days)

        this.whrChart1 = echarts.init(document.getElementById('whrChart1'));
        this.whrChart2 = echarts.init(document.getElementById('whrChart2'))
        // 指定图表的配置项和数据
        var whrOption = {
          textStyle: {
            color: "#B9B8CE",
            fontFamliy: "sans-serif",
            fontSize: 12,
            fontStyle: "normal",
            fontWeight: "normal"
          },
          title: {
            text: '折线图堆叠'
          },
          tooltip: {
            trigger: 'axis'
          },
          axisPointer: {
            link: {
              xAxisIndex: 'all'
            }
          },
          legend: {
            data: ['胸围', '腰围', '左上臂', '右上臂', '左大腿', '右大腿', '臀围'],
            textStyle: {
              color: "#B9B8CE"
            }
          },
          grid: [{
              left: '3%',
              right: '4%',
              height: '65%',
              containLabel: true
            }
          ],
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: days
          }],
          yAxis: [{
            type: 'value',
            axisLabel: {
              formatter: '{value} 厘米'
            }
          }],
          series: [{
              name: '胸围',
              type: 'line',
              data: this.whrChartList.bust,
              connectNulls: true
            },
            {
              name: '腰围',
              type: 'line',
              data: this.whrChartList.waist,
              connectNulls: true
            },
            {
              name: '臀围',
              type: 'line',
              data: this.whrChartList.hipline,
              connectNulls: true
            },
            {
              name: '左上臂',
              type: 'line',
              data: this.whrChartList.lupperarm,
              connectNulls: true
            },
            {
              name: '右上臂',
              type: 'line',
              data: this.whrChartList.rupperarm,
              connectNulls: true
            }, {
              name: '左大腿',
              type: 'line',
              data: this.whrChartList.lthigh,
              connectNulls: true
            },
            {
              name: '右大腿',
              type: 'line',
              data: this.whrChartList.rthigh,
              connectNulls: true
            }
          ]
        };
        this.whrChart1.setOption(whrOption);

        var whrOption = {
          textStyle: {
            color: "#B9B8CE",
            fontFamliy: "sans-serif",
            fontSize: 12,
            fontStyle: "normal",
            fontWeight: "normal"
          },
          title: {
            text: '折线图堆叠'
          },
          tooltip: {
            trigger: 'axis'
          },
          axisPointer: {
            link: {
              xAxisIndex: 'all'
            }
          },
          legend: {
            data: ['左上肢', '右上肢', '左下肢', '右下肢', '躯干'],
            textStyle: {
              color: "#B9B8CE"
            }
          },
          grid: [{
              left: '3%',
              right: '4%',
              height: '65%',
              containLabel: true
            }
          ],
          toolbox: {
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: [{
            type: 'category',
            boundaryGap: false,
            data: days
          }],
          yAxis: [{
            type: 'value',
            axisLabel: {
              formatter: '{value} 公斤'
            }
          }],
          series: [{
            name: '左上肢',
            type: 'line',
            data: this.whrChartList.lue,
            connectNulls: true
          },{
            name: '右上肢',
            type: 'line',
            data: this.whrChartList.rue,
            connectNulls: true
          },{
            name: '左下肢',
            type: 'line',
            data: this.whrChartList.lle,
            connectNulls: true
          },{
            name: '右下肢',
            type: 'line',
            data: this.whrChartList.rle,
            connectNulls: true
          },{
              name: '躯干',
              type: 'line',
              data: this.whrChartList.torso,
              connectNulls: true
            }
          ]
        };
        this.whrChart2.setOption(whrOption)

        //this.whrChart1.connect([this.whrChart2])
        //this.whrChart2.connect([this.whrChart1])
        echarts.connect([this.whrChart1,this.whrChart2])
      },
      computWhrChartData(listDatas, days) {
        let nAry = new Array(days.length).fill("-")
        Object.keys(this.whrChartList).forEach((key) => {
          this.whrChartList[key] = nAry.slice()
        })
        console.log(this.whrChartList)
        for (var i in days) {
          listDatas.find((item) => {
            dateStr = moment(item.date.val).format("MM-DD")
            if (dateStr == days[i] && "data" in item) {
              //console.log(item)
              if ("whr" in item.data) {
                this.whrChartList.bust[i] = item.data.whr.bust.relaxed
                this.whrChartList.waist[i] = item.data.whr.waist.relaxed
                this.whrChartList.lupperarm[i] = item.data.whr.lupperarm.relaxed
                this.whrChartList.rupperarm[i] = item.data.whr.rupperarm.relaxed
                this.whrChartList.hipline[i] = item.data.whr.hipline.relaxed
                this.whrChartList.lthigh[i] = item.data.whr.lthigh.relaxed
                this.whrChartList.rthigh[i] = item.data.whr.rthigh.relaxed
                this.whrChartList.lcalf[i] = item.data.whr.lcalf.relaxed
                this.whrChartList.rcalf[i] = item.data.whr.rcalf.relaxed
              }
              if("bmi" in item.data){
                this.whrChartList.torso[i] = item.data.bmi.muscle.torso
                this.whrChartList.lue[i] = item.data.bmi.muscle.lue
                this.whrChartList.rue[i] = item.data.bmi.muscle.rue
                this.whrChartList.lle[i] = item.data.bmi.muscle.lle
                this.whrChartList.rle[i] = item.data.bmi.muscle.rle
              }
              /*if ("bmi" in item.data) {
                this.whrChartList.weight[i] = item.data.bmi.weight
                this.whrChartList.lbm[i] = item.data.bmi.lbm
                this.whrChartList.bfr[i] = item.data.bmi.bfr
                this.whrChartList.bmr[i] = item.data.bmi.bmr * -1
              }
              if ("aerobic" in item.data) {
                this.whrChartList.aero[i] = item.data.aerobic.cal * -1
              }
              if("diet" in item.data){
                var diet = item.data.diet
                this.whrChartList.diet[i] = diet.reduce((prev,current,index,diet) => {
                  return prev.cal+current.cal
                })
              }*/
            }
          })
          //console.log(result)
        }
      }
    }
  }
</script>
{{ end }}