<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="alternate" type="application/vnd.wap.xhtml+xml" media="handheld" href="https://m.jmcbi.com/">
<meta name="mobile-agent" content="format=html5; url=https://m.jmcbi.com/">
<meta name="mobile-agent" content="format=xhtml; url=https://m.jmcbi.com/">
<meta name="360-site-verification" content="e7d694a6a07b38a3cd093e062ad021cc">
<meta name="description" content="{{ .Page.Description }}">
<meta name="keywords" content="{{delimit .Page.Keywords ","}}">

<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />