<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="alternate" type="application/vnd.wap.xhtml+xml" media="handheld" href="https://m.fitness.dankying.com/">
<meta name="mobile-agent" content="format=html5; url=https://m.fitness.dankying.com/">
<meta name="mobile-agent" content="format=xhtml; url=https://m.fitness.dankying.com/">
<meta name="description" content="{{ .Page.Description }}">
<meta name="keywords" content="{{delimit .Page.Keywords ","}}">

<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />